@font-face{
    font-family: Vag-Round;
    src: url("Fonts/VAG Rounded Bold.ttf") format('truetype');
  
}
@font-face{
    font-family: Coffee Font;
    src: url("Fonts/Coffee Script.ttf") format('truetype');
  
}


/*nav header style*/

#nav-social i, #nav-social h6{
    font-size: 0.5;
    letter-spacing: 0.8;
    position: inherit;
    color: gray;
}
/*body styling */

#my-orange-menu a:hover{
    
color: #FF6600;
}
#my-body p{
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 0.8em;
     
 }
 #my-body p strong{
     color: #C61976;
      
  }
 #my-body{
   
     font-family:  Vag-Round;
    line-height: 1.0;
     color: white;
     background-image: url('images/bg.jpg');
    
     
     
     
 }
/*main style*/

#above-footer-bg{
    background-image: url('images/bg-btm.png');
    background-size: cover;

 margin-left: 0;
 margin-right: 0;
   
}
#above-footer-bg h5{
    line-height: 1;
    color:#C61976;
    text-align: center;
}
#brown-background h5,#pink-background h5{
    font-family: Coffee Font;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom:8%;
transform: rotate(-9deg)
    
}
#brown-background{
    background-color: #603727;
}
#pink-background{
   background-color:#C61976;
}

#my-backgroundFit1,
#my-backgroundFit2,
#my-backgroundFit-hidden-1,#my-backgroundFit-hidden-2{
    background-size: cover;
   background-position: center center;  
}
#my-backgroundFit-hidden-1{
    background-image: url('images/video-poster.jpg');
}
#my-backgroundFit-hidden-2{
    background:transparent;
}
#my-backgroundFit1{
    background-image: url('images/summer-sensations.jpg');


  
}
#my-backgroundFit2{
    background-image: url('images/featured-donuts.jpg');
  
}

#my-main h2{
    font-family: Coffee Font;
   color:#C61976;
  
  transform: rotate(-9deg);

  display: inline;
}
#my-main h3{
    
color: #FF6600;


}

footer{
    color: #C61976;
}
/*footer style*/
#my-footer{
    background-image: url('images/footer-bg.png');
   padding-left: 1em;

}

#in-menu-list,#in-menu-list li{  color: #603727;
    display: inline;}
#in-menu-list ,#nav-social ul{
    list-style-type: none;
    list-style: none;
  
   
}

#my-footer ul{

    list-style: none;
    list-style-type: none;
    padding-left: 0;
   
    color:white;
    
}
#insta-heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#my-carousel-items button{
    color: white;
    background-color:  #C61976;
    border-radius: .75rem;
}
#my-carousel-items {
    padding-top:0;
    padding-bottom:2%;
    text-align: left;
    align-items: center;
}
#my-carousel-items h5,#my-carousel-items h6{
    margin-bottom: 0;
    
    
}
#unique-h6{
    font-size: 0.7rem;
}
#my-grid-container a{
    font-size: 0.7em;
    font-weight: inherit;
}
#unique-container{
    margin: 0;
    padding: 0;
}

#main-menu-hidden{
    color: #603727;
}

/*container media*/

@media(min-width: 993px){
  
    #my-main{
        background-image: url('images/right-parallax.png');
       background-position: bottom right;
       background-repeat: no-repeat;
       background-size: 40% 80%;
    
    }
}
@media(min-width: 768px) and (max-width: 992px){
#unique-container {
    max-width: 100%;
}


#my-main{
    background-image: url('images/right-parallax.png');
   background-position: bottom right;
   background-repeat: no-repeat;
   background-size: 40% 80%;

}}
@media(min-width:577px) and (max-width: 768px){
    #unique-container {
    max-width: 100%;
}

#my-carousel-items{
    padding-bottom:4%;
}
#my-backgroundFit-hidden-1,#my-backgroundFit-hidden-2,#my-backgroundFit-hidden-top{
    display: block;
    background-color: transparent;
    
    }
   
    #my-main{
        background-image: url('images/right-parallax.png');
       background-position: bottom right;
       background-repeat: no-repeat;
       background-size: 40% 80%;
    
    }
  
}
@media(min-width:320px)and (max-width: 576px){


   
   
}

